<mat-toolbar color="primary">Formly Forms</mat-toolbar>

<div style="width: 400px;padding: 10px 0 0 50px;">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
    <div
      class="button-row"
      style="display: flex; flex-direction: row; justify-content: space-around;"
    >
      <button type="reset" mat-raised-button>Clear</button>
      <button  mat-raised-button color="primary">Submit</button>
    </div>
 
  </form>
</div>
